// Initialize local 0 to argument[0] (number to check)
push argument 0
push constant 0
lt                     
if-goto NEGATIVE       


push argument 0
pop argument 1
goto END               

label NEGATIVE
push argument 0
push constant -32768
eq                     
if-goto OVERFLOW       

push argument 0
neg
pop argument 1
goto END               

label OVERFLOW
push constant 32768    
pop argument 1

label END

