Push argument 0 
Push constant 0
Dup 
Pop argument 2
Pop argument 3
Push constant 0
Lt
If go-to NEGATIVE
Push argument 0
Push constant 32768
Eq
If go-to OVERFLOW
Push argument 0
Pop argument 1
NEGATIVE
Push constant 1
Pop argument 2
Push argument 0
Neg
Pop argument 1
OVERFLOW 
Push constant 1 
Pop argument 3 
