Push argument 0        
Pop local 0            
Push constant 0        
Pop local 1 
LOOP
Push local 0           
Push local 1           
Add                    
Pop local 1            
Push local 0           
Push constant 1        
Sub                    
Pop local 0            
Push local 0           
Push constant 0        
Eq                     
If-go to END           
Go to LOOP             
END
Push local 1           

